// 預處理樣式
@mixin font-set($color: #000, $family: 'Noto Serif TC', $weight: bold, $size) {
  color: $color;
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}

.header-div {
  width: 100%;
  background: #fff;
  padding: 16px;
}

.h2-div {
  @include font-set($size: 28px) //引用預處理樣式
}

.rain-card {
  margin-top: 20px;
}

.rain-card-header,
.searchVeg-header {
  background: #144272;
  // @include font-set($color:#fff ,$size:20px);
  justify-content: center;
  padding: 12px;
  align-items: center;

  mat-card-title {
    @include font-set($color: #fff, $size: 20px);

  }
}


.rain-img {
  width: 50%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 12px auto;
}

.veg-card {
  height: 300px;
  width: 300px;
}

.veg-content {
  margin-top: 10px;
}

.price-card {
  height: 76vh;
  width: 80%;
  margin: 20px auto;
}


.price-header {
  background: #32866D;
  justify-content: center;
  padding: 12px;
  align-items: center;

  mat-card-title {
    @include font-set($color: #fff, $size: 20px);
  }
}
