<div fxFill style="background-color: #cbede3;">
  <div fxLayout="row" class="header-div">
    <div fxLayout="row" fxLayoutAlign=" center" style="margin-left: 24px;">
      <mat-icon style="color: #f29d38;">wb_sunny</mat-icon>
      <mat-icon style="color: #5686e1;">thermostat</mat-icon>
      <div>{{temperature}}</div>
    </div>
    <div fxLayout="column" fxFlex="90" class="h2-div" fxLayoutAlign="center center">
      <div>菜價查詢平台</div>
    </div>
    <div fxFlex="10">
      {{ today | date }}
    </div>
  </div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly start">
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="end center ">
      <div style="width: 80%;margin: 0 auto;">
        <mat-card class="example-card rain-card">
          <mat-card-header class="rain-card-header">
            <mat-card-title>昨日雨量</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="rain-img" src="/assets/7795606_weather_rain_cloud_icon.png">
          <mat-card-content>
            <div class="rain-div">{{rainMl}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div style="width: 80%;margin: 0 auto;">
        <mat-card class="example-card rain-card">
          <mat-card-header class="searchVeg-header">
            <mat-card-title>查詢菜類</mat-card-title>
          </mat-card-header>
          <mat-card-content class="veg-content">
            <mat-form-field style="width: 100%;">
              <mat-select style="width: 100%;" required [(value)]="selected">
                <mat-option *ngFor="let veg of vegetables" [value]="veg">
                  {{veg}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="getPrice()">搜尋</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-around center">
      <mat-card class="example-card price-card">
        <mat-card-header class="price-header">
          <mat-card-title style="color: white;">菜價走勢</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div [hidden]="loading" style="width: 60%;height: 100%;margin:24px auto;">
            <mat-spinner [diameter]="300"></mat-spinner>
          </div>
          <div [hidden]="!loading">
            <div echarts [options]="option" class="demo-chart"></div>
            <div class="predict-div">
              預測結果
              <div class="predict-ans-div">
                {{predict}}
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
